body {
    background-image: url(https://media.giphy.com/media/e331cVEDmOAco/giphy.gif);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h1 {
    font-size: 290%;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    color: rgba(241, 238, 238, 0.74);
}

h4 {
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(241, 238, 238, 0.74);
}

button {
    color: gray; 
    font-size: 15px; 
    line-height: 10px; 
    padding: 6px; 
    border-radius: 100px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-style: italic; 
    font-variant: normal; 
    text-transform: capitalize; 
    border: 0px solid rgba(0, 0, 0, 0); 
    display: inline-block;
}

Button:hover {
    background: #000000; 
}

Button:active {
    background: #000000; 
}


p {
    font: small-caption;
}

div {
    text-align: center;
    margin-top: 20vh;
    color: white;
    opacity: 89%;
}

a {
    color: rgba(241, 238, 238, 0.74);
}

label {
    font-size: 175%;
    opacity: 59%;
}
