body {
    background-image: url(https://media.giphy.com/media/e331cVEDmOAco/giphy.gif);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h1 {
    font-size: 555%;
    font-family: 'Amatic SC', cursive;
    font-variant: small-caps;
    color: rgba(241, 238, 238, 0.74);
}

h4 {
    font-size: 200%;
    font-family: 'Amatic SC', cursive;
    color: white;
}

button {
    color: gray; 
    font-size: 15px; 
    line-height: 10px; 
    padding: 8px; 
    border-radius: 100px; 
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: italic; 
    font-variant: normal; 
    text-transform: capitalize; 
    border: 0px solid rgba(0, 0, 0, 0); 
    display: inline-block;
}

Button:hover {
    cursor: pointer;
    background: #000000; 
}

Button:active {
    cursor: pointer;
    background: #000000; 
}

p {
    font-family: 'Amatic SC', cursive;
    font: small-caption;
}

div {
    text-align: center;
    margin-top: 10vh;
    color: white;
    opacity: 89%;
}

a {
    font-family: 'Amatic SC', cursive;
    color: rgba(241, 238, 238, 0.74);
}

label {
    font-family: 'Amatic SC', cursive;
    font-size: 175%;
    opacity: 59%;
}

input {
    font-family: 'Amatic SC', cursive;
    font-size: 175%;
}
