* {
  background-color: black;
  color: white;
}

a {
  font-family: 'Amatic SC', cursive;
  color: rgba(241, 238, 238, 0.74);
  opacity: 50%;
}

.slidecontainer {
  height: 3vw;
  width: 100%;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 4vw;
  height: 1.6vw;
  margin-top: .3vw;
  margin-bottom: .02vw;
}
  
  /* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
  /* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: .9vw;
  width: 1vw;
  left: .5vw;
  bottom: .3vw;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: rgb(33, 177, 33);
}
  
input:focus + .slider {
  box-shadow: 0 0 .3vw rgb(33, 177, 33);
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(2vw);
  -ms-transform: translateX(2vw);
  transform: translateX(2vw);
}
  
/* Rounded sliders */
.slider.round {
  border-radius: 2vw;
}
  
.slider.round:before {
  border-radius: 50%;
}

  /* creates a fixed footer */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 2vw grey !important;
  color: white;
  text-align: center;
}

#piano {
  position: fixed;
  height: 14em;
  width: 57em;
  top: 54%;
  right: 32%;
}

img {
    width: 80%;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: .4vw;
    margin-right: .4vw;
    margin-left: 1vw;
    margin-top: 0vw;
    text-align: right;
    vertical-align: middle;
    font-size: 1.5vw; 
  }

.passFilters {
    margin-top: .5vw;
    margin-left: 1vw;
    width: 17vw;
    text-align: center;
    /* height: 100px; */
}

.slideContainer {
  height: 2.5vw;
}

#sliderInput {
    width: 15vw;
}

#sliderText {
    font-size: 1.2vw;
    height: .5vw;
    text-align: left;
}

#soundSwitches {
    display: flex;
}

#ui {
    display: flex;
    justify-content: left;
}
.filterKnobs {
    margin-top: 1vw;
    margin-left: 2vw;
}

#visualizer {
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
}

#saveLoadDiv {
    margin-left: 2.5vw;
    margin-top: .7vw;
}

#saveButton {
    height: 2.8vw;
    width: 100px;
}

#saveSession {
  height: 2.6vw;
  width: 16vw;
  border-width: 2px;
  /* margin-right: vw; */
}

/* drop down menu  */
#savedSession {
  height: 2.6vw;
  width: 16.5vw;
  /* margin-left: 5.8vw; */
  border-width: 2px;
}

#saveLoadDiv {
  /* text-align: center; */
}

#downloadButton {
  height: 2.5vw;
  width: 100px;
  /* margin-right: 3.3vw; */
  /* position: relative;
  right: 27px; */
}

#downloadButtonDiv {
  /* margin-left: 4.25vw; */
}

#playbutton {
  /* height: 2.8vw;
  width: 2.8vw; */
  margin-left: 5vw;
  margin-top: 1.5vw;
  /* border-radius: 50%; */
}

#oscilloscope {
  position: absolute;
  width: 900px;
  height: 100px;
  top: 5%;
  right: 22%;
  opacity: 50%;
}

.soundSwitches{
  display: flex;
  justify-content: left;
  vertical-align: middle;
  width:10vw
}

.white {
  height:14em;
  width:4em;
  z-index:1;
  border-left:1px solid #bbb;
  border-bottom:1px solid #bbb;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#eee 0%,#fff 100%);
  position:relative;
  float:left
}

.white:active{ 
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.black {
  height:8em;
  width:2em;
  margin:0 0 0 -1em;
  z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg,#222 0%,#555 100%);
  position:relative;
  float:left
}

.black:active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

/* CAREFUL HERE!!! THIS CONTROLS THE OVERLAY OF THE KEYS */
.d, .e, .g, .a, .b {
  margin:0 0 0 -1em
}

.white.key.a.active{ 
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.white.key.b.active{ 
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.white.key.c.active{ 
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.white.key.d.active{ 
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.white.key.e.active{ 
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.white.key.f.active{ 
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.white.key.g.active{ 
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.black.key.a.sharp.active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

.black.key.b.sharp.active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

.black.key.c.sharp.active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

.black.key.d.sharp.active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

.black.key.e.sharp.active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

.black.key.f.sharp.active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

.black.key.g.sharp.active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

/* #recordButton {
    width: 35px;
    height: 35px;
    font-size: 0;
    background-color: red;
    border: 0;
    border-radius: 35px;
    margin: 18px;
    outline: none;
    height: 3vw;
    width: 3vw;
    margin-left: 90vw;
} */




/* ************************************************************ on / off ******************************************************* */